Flask
Flask-Bcrypt
Flask-JWT-Extended
Flask-SQLAlchemy
tensorflow == 2.16.1
keras == 3.3.3
opencv-python
pillow
matplotlib==3.8.4
numpy
pandas
scikit-learn==1.4.2
split-folders
requests == 2.31.0
os

